{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(resetForm, {'attr': {'class': 'box'}}) }}
    <h1>Reset your password</h1>
    {{ form_row(resetForm.plainPassword, {'label_attr': {'class': 'text-white text-decoration-underline'}}) }}
    <button type="submit" class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
