.card-horizontal {
    display: flex;
    flex: 1 1 auto;

    img {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
}

.card {
    img {
        max-height: 200px;
    }
}

.card-minus {
    img {
        max-height: 100px;
    }
}