<div class="container-fluid border-bottom border-dark bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="pt-2">
                    <a class="text-white" href="{{ path('home') }}">Accueil</a>
                    {% for category in good_plan_categories %}
                        <span class="text-muted">
                            >
                        </span>
                        <a class="text-decoration-none text-white" href="{{ path('category_show', {id : category.id}) }}">
                            {{ category.title }}
                        </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>