<div class="container-fluid border-bottom border-dark filter-navbar">
    <div class="container">
        <div class="row align-items-center">
            <nav class="navbar navbar-expand-md col-12 p-0">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarType"
                            aria-controls="navbarType" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarType">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if title is defined %}
                                <li class="nav-item">
                                    <span class="nav-link">
                                        {{ title }}
                                    </span>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">A la une</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hot</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>