<div class="col-lg-3 col-12 order-lg-2 order-1 bg-white rounded mt-3 h-100">
    <div class="row d-lg-none flex-nowrap overflow-hidden">
        {% for deal in get_all_hot_deal_one_day()|slice(0,3) %}
            <div class="col-6 col-md-4">
                {% if deal is instanceof('App\\Entity\\GoodPlan') %}
                    {% include('partials/component/cards/card-goodplan-horizontal-minus.html.twig') %}
                {% elseif deal is instanceof('App\\Entity\\Promo') %}
                    {% include('partials/component/cards/card-promo-horizontal-minus.html.twig') %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row d-none d-lg-flex">
        {% for deal in get_all_hot_deal_one_day()|slice(0,3) %}
            {% if deal is instanceof('App\\Entity\\GoodPlan') %}
                {% include('partials/component/cards/card-goodplan-horizontal-minus.html.twig') %}
            {% elseif deal is instanceof('App\\Entity\\Promo') %}
                {% include('partials/component/cards/card-promo-horizontal-minus.html.twig') %}
            {% endif %}
        {% endfor %}
    </div>
</div>