{% extends 'base.html.twig' %}

{% block title %}Promo index{% endblock %}

{% block body %}
    {% include('partials/component/navbar/filter-navbar.html.twig') with
        {
            'title': 'Tous les codes promos',
            'default': path('promo_index'),
            'links': {
            'Hot': path('hot_promo_index')
        }
        }
    %}
    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 order-lg-1 order-2">
                    {% for deal in promos %}
                        {% include('partials/component/cards/card-promo-horizontal.html.twig') %}
                    {% endfor %}
                    {{ knp_pagination_render(promos) }}
                </div>
                {% include('partials/component/navbar/sidebar.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
