{% extends 'base.html.twig' %}

{% block title %}Promo index{% endblock %}

{% block body %}
    {% include('partials/component/navbar/filter-navbar.html.twig') with
        {
            'title': 'Codes promo',
            'links': {
                'default': path('promo_index'),
                'hot': path('hot_promo_index')
            }
        }
    %}
    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    {% for deal in promos %}
                        {% include('partials/component/cards/card-promo-horizontal.html.twig') %}
                    {% endfor %}
                    {{ knp_pagination_render(promos) }}
                </div>
                <div class="col-lg-3 col-12">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
