{% extends 'layout/form_layout.html.twig' %}

{% block title %}Nouvelle Promo{% endblock %}

{% block left_side %}
    <div class="row mt-3 mb-3">
        <h3 class="col-6">Poster un nouveau code promo</h3>
        <a class="col-6" href="{{ path('good_plan_new') }}">ou poster un deal</a>
    </div>
    {{ include('pages/promo/_form.html.twig') }}
{% endblock left_side %}

{% block right_side %}
    {# Preview handled by VueJS #}
    {% include 'partials/component/cards/as_preview/card-promo-horizontal-preview.html.twig' %}
    {# End preview #}
{% endblock right_side %}