<div class="modal fade" id="{% block modal_id %}{% endblock %}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ block('modal_id') }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ block('modal_id') }}Label">{% block modal_title %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block left_side %}
                {% endblock %}

                {% block right_side %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
