{% extends 'partials/modal/authentication/auth_modal_base.html.twig' %}

{% block modal_id %}authLoginModal{% endblock %}

{% block modal_title %}Login modal{% endblock %}

{% block left_side %}
{% endblock %}

{% block right_side %}
    <form method="post" action="{{ path("app_login") }}">
        {% if error is defined %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username is defined ? last_username : '' }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#authRegisterModal" data-bs-dismiss="modal" aria-label="Close">
            Créer un compte
        </button>
    </form>
{% endblock %}
