{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <h2>Deals found :</h2>
    {% for deal in deals_found %}
        <p>{{ deal.title }}</p>
    {% endfor %}
    <hr>
{% endblock %}
