{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid bg-dark">
        <div class="container">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide col-12" data-bs-ride="carousel">
                    <div class="carousel-inner d-flex justify-content-center">
                        <div class="carousel-item active">
                            <button class="btn btn-danger">Ok</button>
                            <button class="btn btn-danger">Salut</button>
                        </div>
                        <div class="carousel-item">
                            <button class="btn btn-danger">rouge</button>
                            <button class="btn btn-danger">vert</button>
                        </div>
                        <div class="carousel-item">
                            <button class="btn btn-danger">1</button>
                            <button class="btn btn-danger">2</button>
                        </div>
                    </div>
                    <button class="carousel-control-prev btn-secondary" type="button"
                            data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn-secondary" type="button"
                            data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <nav class="navbar navbar-expand-lg navbar-light col-10">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo01"
                            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <div class="col-2">
                <button class="btn btn-secondary">Filtre</button>
            </div>
        </div>
    </div>
    <div class="container mt-auto mb-auto">
        <div class="row">
            <div class="col-12">
                <p>This gitlab repository allows you to start with an example of a complete site containing a member
                    management (login,
                    profile, forgotten password ...), image and avatar management, options for your site and a page
                    creator .</p>

                <p>This pack also allows you to use features such as PDF generation, email sending, pagination and
                    filter ...</p>

                <p>This project follows the standards of PSR-4</p>

                <p>BY <a href="https://drosalys.fr/" TARGET="_blank">https://drosalys.fr/</a></p>
            </div>
        </div>
    </div>
{% endblock %}

