{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {# {% include('partials/component/carousel/carousel-category.html.twig') %} #}
    {% include('partials/component/filter-navbar.html.twig') %}
    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    {% for deal in deals %}
                        {% include('partials/component/cards/card-deal-horizontal.html.twig') %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <p>En construction</p>
            </div>
        </div>
    </div>
{% endblock %}

