{% extends 'base.html.twig' %}

{% block title %}Dealabs !{% endblock %}

{% block body %}
    {# {% include('partials/component/carousel/carousel-category.html.twig') %} #}
    {% include('partials/component/navbar/filter-navbar.html.twig') %}
    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 order-lg-1 order-2">
                    {% for deal in deals %}
                        {% if deal is instanceof('App\\Entity\\GoodPlan') %}
                            {% if deal.promoCode %}
                                {% include('partials/component/cards/card-goodplan-horizontal_promo.html.twig') %}
                            {% else %}
                                {% include('partials/component/cards/card-goodplan-horizontal.html.twig') %}
                            {% endif %}
                        {% elseif deal is instanceof('App\\Entity\\Promo') %}
                            {% include('partials/component/cards/card-promo-horizontal.html.twig') %}
                        {% endif %}
                    {% endfor %}
                    {{ knp_pagination_render(deals) }}
                </div>
                <div class="col-lg-3 col-12 order-lg-2 order-1 bg-white rounded mt-3">
                    <div class="row d-lg-none">
                        {% for deal in get_all_hot_deal()|slice(0,3) %}
                            <div class="col-4">
                                {% if deal is instanceof('App\\Entity\\GoodPlan') %}
                                    {% include('partials/component/cards/card-goodplan-horizontal-minus.html.twig') %}
                                {% elseif deal is instanceof('App\\Entity\\Promo') %}
                                    {% include('partials/component/cards/card-promo-horizontal.html.twig') %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row d-none d-lg-flex">
                        {% for deal in get_all_hot_deal()|slice(0,3) %}
                            {% if deal is instanceof('App\\Entity\\GoodPlan') %}
                                {% include('partials/component/cards/card-goodplan-horizontal-minus.html.twig') %}
                            {% elseif deal is instanceof('App\\Entity\\Promo') %}
                                {% include('partials/component/cards/card-promo-horizontal.html.twig') %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

