{% extends 'base.html.twig' %}

{% block title %}GoodPlan index{% endblock %}

{% block body %}
    {% include('partials/component/navbar/filter-navbar.html.twig') with
        {
            'title': 'Tous les deals',
            'links': {
                'default': path('good_plan_index'),
                'hot': path('hot_good_plan_index')
            }
        }
    %}
    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 order-lg-1 order-2">
                    {% for deal in good_plans %}
                        {% if deal.promoCode %}
                            {% include('partials/component/cards/card-goodplan-horizontal_promo.html.twig') %}
                        {% else %}
                            {% include('partials/component/cards/card-goodplan-horizontal.html.twig') %}
                        {% endif %}
                    {% endfor %}
                    {{ knp_pagination_render(good_plans) }}
                </div>
                {% include('partials/component/navbar/sidebar.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
