{% extends 'Front/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mt-auto mb-auto">
        <div class="row">
            <div class="col-12">
                <p>This gitlab repository allows you to start with an example of a complete site containing a member
                    management (login,
                    profile, forgotten password ...), image and avatar management, options for your site and a page
                    creator .</p>

                <p>This pack also allows you to use features such as PDF generation, email sending, pagination and
                    filter ...</p>

                <p>This project follows the standards of PSR-4</p>

                <p>BY <a href="https://drosalys.fr/" TARGET="_blank">https://drosalys.fr/</a></p>
            </div>
        </div>
    </div>
{% endblock %}
