{% extends 'base.html.twig' %}

{% block title %}Mes deals sauvegardés{% endblock %}

{% block body %}
    {% for deal in user_saved_deals %}
        <h2>{{ deal.title }}</h2>
        <hr>
    {% endfor %}
    {{ knp_pagination_render(user_saved_deals) }}
{% endblock %}
